.dockerignore
Dockerfile
db.sqlite3
*__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
venv/
src/data/*.json
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
*.idea
*.gitignore
*.DS_Store
data/*.json
